body {
  padding-top: 50px;

  background-color: black;
  background-image: url("./covid-1.png");
  background-repeat: no-repeat;
}
.title {
  text-align: center;
}
.title > p {
  font-size: 70px;
  color: aliceblue;
}

.table-striped {
  color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #1c302e;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #2f453c;
}

@media only screen and (max-width: 770px) {
  .title > p {
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .title > p {
    font-size: 30px;
  }
  .title {
    background-color: #2f453c;
  }
}
